{% extends "layout.html" %}

{% block head %}
Hi, {{member.name}}
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="tag-list" data-list_url="/tag">
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Topics</h2>
    <div class="topics"></div>
  </div>
</div>

    

<script 
  data-main="/static/script/pages/dashboard.js" 
  src="/static/script/lib/require/require-2.0.2-jquery-1.7.2.js" 
  type="text/javascript"></script>

{% endblock %}

