{% extends "layout.html" %}

{% block head %}
Hi, {{member.name}}
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <h2>Topics</h2>
  </div>
</div>

<form method="post" action="/topic/create" class="form-inline new_topic">
  <input type="text" placeholder="New topic" name="topic_text" class="topic_text">
  <button type="submit" class="btn">Add</button>
</form>

<div class="topics"></div>

<script type="text/html" id='topic'>
  <div class="topic" data-topic="<%= topic_id %>">
    <h4>
      <a href="#messages"><%= topic_text %></a>
      <small><%= member_name %></small>
    </h4>
    <div class="messages"></div>
  </div>
</script>
{% endblock %}

{% block scripts %}
  <script src="/static/js/app.js"></script>
  <script>
    $(function () {
      new Topics()
    })
  </script>
{% endblock %}
