{% extends "layout.html" %}

{% block head %}
Hi, {{member.name}}
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <h2>Topics</h2>
  </div>
</div>

<form method="post" action="/topic/create" class="form-inline new_topic">
  <input type="text" placeholder="New topic" name="topic_text" class="topic_text">
  <button type="submit" class="btn">Add</button>
</form>

<div class="topics"></div>

<script type="text/html" id='topic'>
  <div class="topic">
    <h4>
      <a href="#messages"><%= topic_text %></a>
      <small><%= member_name %></small>
    </h4>

    <div class="message_box hide" data-poll_url="/chatmessage/poll/<%= topic_id %>"
        data-index_url="/chatmessage/index/<%= topic_id %>">
      <form method="post" action="/chatmessage/create/<%= topic_id %>" class="form-inline new_message">
        <input type="text" placeholder="New message" name="text" class="message_text">
        <button type="submit" class="btn">Reply</button>
      </form>

      <ul class="messages">
      </ul>
    </div>
  </div>
</script>

<script type="text/html" id='message'>
  <li>
    <%= text %>
    <small><%= member_name %></small>
  </li>
</script>
{% endblock %}

{% block scripts %}
  <script src="/static/js/app.js"></script>
  <script>
    $(function () {
      new Topics()
      new Messages()
    })
  </script>
{% endblock %}
